:root {
    --text: #FAFAFF;
    --background:#282828;
    --accent1: #C6ECAE;
    --accent2: #8B9EB7;
    --accent3: #E3A587;
    /* --accent1:#A07178; */
    /* --accent3: #F7ECE1; */
    /* --accent1:#776274; */
  }

html {
  background: var(--background) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* opacity: 0.5; */

  
  

  background-color: var(--background);
  color: var(--text);  font-family: Verdana, sans-serif;}
  
  body {
    height:100%;
    margin-top:100px;
  }

  h1 {text-align: center;
      font-size:50px;}
  p {text-align: center;}
  div {text-align: center;
    margin-bottom: 10px;}


/* button:hover {
  background-color: var(--accent1);
  color: var(--accent3);
}

button {

	border-radius:15px;
	border:1px solid var(--accent2);
	display:inline-block;
	cursor:pointer;
	font-size:14px;
	padding:5px 15px;
	text-decoration:none;
  background-color: var(--accent2);
  color: var(--text);
} */


/* button:focus{
  background-color : ;
}

.button-stay:focus {
  background-color : black;
  color: #cae0ad;
} */

.panel{
  /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(rgb(212, 180, 131),1)); */
  /* background-image:radial-gradient(var(--accent3), rgba(255,0,0,0)); */
  background-color: var(--background);
  border:3px solid var(--accent3);
  opacity:1;
  width : 90%;
  height:100%;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
  align-items:center;
  overflow:scroll;
}

/* #label{
  margin: auto;
  padding:10px;
  margin-bottom: 5px;
  background-image:radial-gradient(rgba(212, 180, 131, 1), rgba(255,0,0,0));
  display:flex;
  width:100%;
  justify-content: space-between;
} */

.bottom {
  position: fixed;
  bottom: 0;
  width: 98%;
}

text.shadow {
  background-color:white;
}

#right{
  text-align: right;
  font-size: 10px;
}

#left{
  text-align: left;
  font-size:15px;
  width:109px;
}

.topnav {
  position: fixed;
  top:0;
  width: 100%;
  margin-bottom:100px;
  background-color: var(--accent2);
  overflow: hidden;
  z-index:999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:link {
  color: #f2f2f2;
}

.topnav a:visited {
  color: #f2f2f2;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--accent3);
  color: var(--text);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--accent1);
  color: var(--background);
}

button{
  /* position: center;
  display: center; */
  background: var(--background);
  color: var(--text);
  font-size: 14px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
  margin-top: 30px;
  border: 2px solid var(--accent2);
  padding: 10px 10px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  transform: translate(0%,-50%); 
  width:100%;
}
button::before{
  background: var(--accent2);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}


button::before{
  width: 0%;
  height: 100%;
}

button:hover::before{
  width: 100%;
}

a:link {
  color: var(--accent1);
}

/* visited link */
a:visited {
  color: var(--accent1);
}

#tablediv{
  overflow:scroll;
  height:400px;
  width:100%;
  /* background-color: blue; */
}

#table{
  overflow:scroll;
  height:50%;
  width:100%;
  /* background-color: blue; */
  overflow:scroll;
  color:var(--accent2);
}

th {
  background: var(--background);
  position: sticky;
  top: 0;
  
}